---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Blog";
const description = "Latest articles.";
const permalink = `${Astro.site.href}blog`;

let allPosts = await getCollection("posts");
allPosts = allPosts.sort((a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf());

function formatDate(date: string | Date) {
  return new Date(date).toLocaleDateString("en-US", {
    day: "numeric",
    month: "short",
    year: "numeric",
  });
}
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container blog-list">
    <h1>Blog</h1>
    {
      allPosts.map((post, index) => {
        const href = `/blog/${post.data.slug}`;
        return (
          <div>
            {index !== 0 && <hr />}
            <div class="post-item">
              <h2>
                <a href={href}>{post.data.title}</a>
              </h2>
              <p>{post.data.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">— {formatDate(post.data.publishDate)}</span>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>
